$black: #2a2b2e
$red: #ff4136
$white: #ffffff
$grey: #aaaaaa


// button_colors

$light_bg: #C0E6F6
$light_bg_border: #81C0D5
$sun_bg: #F5EB42
$sun_bg_border: #E4C74D
$dark_bg: #484848
$dark_bg_border: #202020
$moon_bg: #FFFDF2
$moon_bg_border: #DEE1C5
