@import colors
*
    box-sizing: border-box
html
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size: 137.5%
    -webkit-font-smoothing: antialiased


body
    padding: 10px
    max-width: 600px
    margin: 0 auto
    color: $black
    
    ::-moz-selection
        background: $red
        color: $black
    ::selection
        background: $red
        color: $black

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif
        margin-top: 1.5rem
        margin-bottom: 0
        line-height: 1.5rem

    h1
        font-size: 4rem
        line-height: 4.5rem
        margin-top: 0

    h2
        font-size: 2.828rem
        line-height: 3rem
        margin-top: 2rem

    .tagline
        font-size: 1.6rem
        line-height: 1.3rem
    p
        line-height: 1.5rem
        margin-top: 1.5rem
        margin-bottom: 0

    a
        color: #0074d9
        line-height: 1.3rem
        cursor: pointer
        &:hover
            color: $red

    .portfolio_block
        a
            text-decoration: none

    .contact_block
        a
            margin-right: 1.5rem

.profile-container
    display: flex
    justify-content: space-between
    align-items: center

    padding-right: 10%
    height: 9rem
    margin-top: 2rem
    // border: 1px solid red

@import gradient-border

.profile_img__container
   
    // box-sizing: border-box
  
    // overflow: hidden
    height: 85%

    // border: 3px solid red


#profile_image
    height: 100%
    border-radius: 50%
    // border-radius: 50%

