@import "_fonts.sass"
@import "_shortcuts.sass"



*
	margin: 0
	padding: 0

*::-moz-selection
	color: $prime-white
	background: $light-blue

*::selection
	color: $prime-white
	background: $light-blue

a
	text-decoration: none

p
	font-family: $font-regular

body
	font-family: $font-neue

.welcome
	min-height: 590px
	margin: 0 auto
	text-align: center
	background: url(../img/Header.jpg) center top/cover no-repeat

	.w-logo
		margin: 160px auto 0
