.nav-menu_btn {
    z-index: 9999;
    position: fixed;
    top: 55px;
    right: 30px;
    cursor: pointer;
	display: none;
	transition: .5s;

	@media (max-width: 768px) {
		display: block
	}
	@media (max-width: 480px) {
		transform: scale(0.7)
	}
	&.change {
		top: 20px
	}
}

.change .nav-menu_btn {
	top: 30px
}
	.bar1,
	.bar2,
	.bar3 {
		width: 50px;
		height: 8px;
		margin: 6px 0;
		background: white;
		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}

	.change .bar1 {

		-webkit-transform: rotate(-45deg) translate(-11px, 15px);
		-ms-transform: rotate(-45deg) translate(-11px, 15x);
		transform: rotate(-45deg) translate(-11px, 15px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-5px, -8px);
		-ms-transform: rotate(45deg) translate(-5px, -8px);
		transform: rotate(45deg) translate(-5px, -8px);
	}


// @media (max-width: 1025px)

// @media (max-width: 768px)
    
// @media (max-width: 480px)

// @media (max-width: 375px)
