*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*::-moz-selection {
	color: #fff;
	background: #f8cd53;
}

*::selection {
	color: #fff;
	background: #f8cd53;
}
h2{
	font-family: HelveticaBold;
}
h3{
	font-family: HelveticaBold;
}
p{
	font-family: HelveticaLight;
}

body {
	background: #f0f2f4;
	font-family: 'Open Sans', sans-serif;
}

.top_info {
	text-align: right;
	margin: 0;
	border-bottom: 1px solid #e2e2e2;
}
.top_info a{
	display: inline-block;
	font-size: 15px;
	text-decoration: none;
	color: #59595a;
	font-weight: 700;
	margin: 15px 12px;
}
.top_info i {
	
	margin: 0;
	line-height: 1;
	margin: 0px 0px 0px;
	color: #59595a;
}
.top_info i:first-child {
	font-size: 24px;
}
.top_info i.mail {
	font-size: 19px;
	margin: 17px 0 17px;
	padding-left: 17px;
	border-left: 1px solid #e2e2e2; 
}
.top_info a:last-child {
	margin: 12px 100px 12px 0;
	width: 27px;
	height: 27px;
	padding: 6px 10px;
	/*background: #1287bf;*/
	/*color: white;*/
	border-radius: 10%;
	padding-right: 10%;
}

header {
	background: #ffffff;
	/*text-align: center;*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 130px;


}
.logo {
	width: 250px;
	height: 57px;
	display: flex;
	margin:30px 40px 0;
	transition: 0.5s;
}

.logo:hover{
	transform: skewX(20deg);
}

.logo i {
	/*float:left;*/
	font-size: 57px;
	color: #dd2a24;
	margin: 0;
	
}

.logo_text h1 {
	font-weight: 700;
	font-size: 37px;
	color: #424242;
	margin: 0;
	padding: 0;
}

.logo_text p {
	font-size: 15px;
	line-height: 15px;
	/*font-weight: 100;*/
	margin: 0;
}

nav ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	/*list-style: none;*/
	/*text-decoration: none;*/
}

nav ul li a{
	display: inline-block;
	/*padding-right: 35px; */
	font-size: 15px;
	line-height: 15px;
	color: #424242;
	text-decoration: none;
	font-weight: 600;
	margin: 55px 10px;
}
nav ul span{
	margin: 55px 10px 0;
	font-size: 10px;
	color: #424242;
}


nav ul li.consult_button a{
	color: #ffffff;
	padding: 12px 22px;
	background: #dd2a24;
	border-radius: 5px;
	margin:43px 10px;
	transition: .5s;
}

nav ul li.consult_button a:hover{
	color: #fff;
	transform: scale(1.1);
}

nav ul li a:hover {
	color: #dd2a24;	
	text-decoration: none;
}

.banner	{
	background: url("../img/Layer 32.jpg") center top/cover no-repeat;
	max-width: 1400px;
	min-height: 590px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.banner h2 {
	padding-top: 180px;
	font-size: 48px;
	color: #fff;
	/*font-weight: 800;*/
	line-height: 48px;
	

}
.banner p {
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	line-height: 30px;
	font-family: 
}
.consultation {
	display: block;
	margin: 0 auto;
	width: 330px;
	height: 70px;
	background: #f8cd53;
	text-decoration: none;
	padding-top: 22px;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	font-weight: 800;
	border-radius: 10px;
	text-transform: uppercase;
	transition: 0.5s;

}
.consultation:hover{
	color: #fff;
	text-decoration: none;
	transform: scale(1.1);
}

.about {
	text-align: center;
	background: #fff;
}
.about h2 {
	font-size: 36px;
	font-weight: 700;
	padding-top: 90px;
	color: #424242;
	line-height: 36px;
}
.about p {
	font-weight: 100;
	font-size: 20px;
	color: #424242;
	line-height: 20px;
}


.line {
	height: 5px;
	width: 45px;
	background: #424242;
	margin: 0 auto;
}

.services {
	/*text-align: center;*/
	margin: 0 auto;
	max-width: 1100px;
	padding: 5px 0 80px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.service {
	width: 245px;
	height: 200px;
	margin: 20px 30px;
	transition: 1s;
	/*padding: 25px;*/
}

.service:hover{
	transform: scale(1.1);
}

.service h3 {
	font-size: 22px;
	font-weight: 800;
	color: #424242;
	line-height: 22px;
	padding: 27px 0 17px;
	margin: 0;
}

.service p {
	font-size: 13px;
	font-weight: 100;
	font-family: 'Open Sans';
}

.approach {
	/*text-align: center;*/
	background:#f3f3f3;
}

.approach h2{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	padding-top: 90px;
	color: #424242;
	line-height: 36px;
}

.approach p {
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	color: #424242;
	line-height: 20px;
}

.approach .line {
	margin-bottom: 30px; 
}

.steps {
	margin:  0 auto 80px;
	max-width: 1100px;
}

.step{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	margin: 20px 0 20px;
	background: #fff;
	/*position: relative; */
	max-width: 1100px;

	transition: .5s;
	box-shadow: 0px 0px 2px 2px rgba(207,205,207,1);
}
.step:hover {
	transform: scale(1.02);
}

.step:hover img{
	transform: scale(1.3);
}

.left img{
	display: inline-block;
	width: 340px;
	height: 227px;
	object-fit: cover;
	transition: 5s;
	/*position: relative;*/
}

.right img {
	display: inline-block;
	width: 340px;
	height: 227px;
	object-fit: cover;
	/*position: relative;*/
	float: right;
	transition: 5s;
}

.step .pagenumber {
	display: inline-block;
	background: red;
	color: #fff;
	width: 105px;
	height: 105px;
	border: 2px #fff solid;
	border-radius: 7px;
	position: relative;
	box-sizing: border-box;
}

.left .pagenumber {
	/*right: 54px;*/
	top:55px;
	margin-left: -60px;
}

.right .pagenumber {
	/*right: -170px;*/
	top:55px;
	z-index: 5;
	margin-right: -60px;
}

.step .pagenumber h3{
	color: #fff;
	text-align: center;
	font-size: 60px;
	margin: 0;

	/*line-height: 60;*/
	/*padding: 0 auto;*/
}

.step .pagenumber p {
	color: #fff;
	padding: 0;
	margin: 0;
}


.step .steptext {
	width: 700px;
	padding: 30px;	
}

.steptext h3 {
	font-size: 18px;
	font-weight: 800;
}

.steptext p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.left .steptext h3 {
	text-align: left;
}
.left .steptext p {
	text-align: left;
}

.right .steptext h3{
	text-align: right;
}

.right .steptext p {
	text-align: right;
}

.ourwork {
	background: #de2b24;
	text-align: center;
}

.ourwork h2{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	padding-top: 90px;
	color: #ffffff;
	line-height: 36px;
}

.ourwork p{
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	color: #ffffff;
	line-height: 20px;
	font-family: 'He';
}

.ourwork .line {
	background: #ffffff;
	margin-bottom: 30px;	 
}

.works{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1024px;
	min-height: 253px;
}

.works:last-child {
	padding-bottom: 80px;
}
.works a{
	text-decoration: none;
	/*margin: 0 auto;*/
}

.work{
	display: flex;
	/*margin: 0 auto;*/
	flex-wrap: wrap;
	min-height: 253px;
	max-width: 510px;
	background: #f35e59;
	transition: 2s;
}

.work:hover{
	transform: scale(0.95);
	z-index: 5;
}

.work_title{
	height: 253px;
	width: 255px;
}

.work_title i{
	color: #f9afac;
	font-size: 35px;
	padding: 75px 0 20px;
}

.work_title h3{
	font-size: 26px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 600;
}

.work_title p{
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	margin: 0;
	font-family: HelveticaBold;
}

.work_img{
	height: 253px;
	width: 255px;
	overflow: hidden;
}

.work_img img {
	position: relative;
	right: 80px;
}

.analysis {
	background: #1287bf;
	/*cursor: pointer;*/
	text-align: center;
	padding-bottom: 80px;
}

.analysis h2{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	padding-top: 90px;
	color: #ffffff;
	line-height: 36px;
}

.analysis p{
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	color: #ffffff;
	line-height: 20px;
	margin: 0;
	/*padding-bottom: 80px;*/
}

.analysis img {
	margin: 0;
	padding: 20px 0;
}
.fbform{
	margin: 0 auto;
	/*padding-bottom: 80px;*/
	background: #ffffff;
	max-width: 685px;
	min-height: 460px;
	border-radius: 5px;
	position: relative;

}
.triangle {
	margin: 0 auto;
	content:"";
	display: block;
	width: 0px;
	height: 0px;
	border-width: 0 34px 34px 34px;
	border-color: transparent transparent #ffffff transparent;
	border-style: solid;
	position: relative;
	top:1px;

}

.fbform p {
	color: #828282;
	padding: 40px 65px 0;
	font-size: 15px;
	font-weight: 500;
	font-family: "HelveticaRegular";

}

.fbform form {
	display: flex;
	flex-direction: column;
	/*width: 450px;*/
	margin: 30px auto 0;

}

.fbform input {
	/*color: #b0b0b0;*/
	border: 1px solid #d8d8d8;
	margin: 5px 50px;
	border-radius: 5px;
	outline: none;
	/*padding:400px 55px;*/
}

.fbform input:hover,
.fbform input:focus {
	border: 1px solid #1287bf;
	box-shadow: 0px 0px 1px 1px rgba(181,217,235,1);
}

.fbform form input{
	padding: 20px;
	font-size: 14px;
	/*color: #b0b0b0;*/
}

.fbform .submit{
	background: #de2b24;
	border: 0;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	width: 160px;
	/*height: 45px;*/
	vertical-align: center;
	padding: 15px 30px;
	margin: 35px auto 65px;
	transition: 0.5s;
	outline: none;
}

.fbform .submit:hover {
	
	border: none;
}
.fbform .submit:active {
	transform: scale(0.9);
	border: none;
}

.footer {
	background: #2a2a2a;
	color: #ffffff;
	text-align: center;
}

.footer h2{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	padding-top: 90px;
	color: #ffffff;
	line-height: 36px;
}

.footer .socials i{
	border: 2px solid #515151;
	border-radius: 10%;
	width: 48px;
	height: 48px;
	margin: 30px 10px 35px; ;
	/*vertical-align: middle;*/
	padding-top: 10px;
	font-size: 23px;
	transition: .3s;
	text-decoration: none;
	color: #ffffff;
}

.fbform{
	width: 90%;
}

.footer .socials i:hover{
	border-color: #de2b24;
}

.footer p {
	font-size: 14px;
	color: #cecece;
	line-height: 14px;

}

.footer form .email{
	display: flex;
	flex-direction: column;

	/*text-align: center;*/
}
.footer form .email {
	background: #515151;
	border: none;
	color: #cecece;
	padding: 20px;
	margin: 30px auto;
	width: 685px;
	font-size: 14px;
	outline: none;
	/*border: 1px solid transparent;*/
}
.footer form .email:focus {
	/*border: 1px solid #de2b24;*/
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
}
.footer form .email:focus::-webkit-input-placeholder {
	color:rgba(206,206,206,0.5);
}

.footer form .subscribe {
	background: #2a2a2a;
	border: 2px solid #515151;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	padding: 20px 40px;
	line-height: 17px;
	margin-bottom: 80px;
	border-radius: 5px; 
	outline: none;
	transition: 0.5s;
}
.footer form .subscribe:active {
	transform: scale(0.9);
}
.footer form .subscribe:hover{
	border-color: #de2b24;
}
.author{
	background: #515151;
	text-align: center;
	
}
.author a p{
	font-weight: 900;
	display: inline-block;
	padding: 25px 0 25px;
	margin: 0 auto;
	font-size: 16px;
	
	
	color: #cecece;

}


@media(max-width: 1019px){
	.works a{
		margin: 20px auto;
	}

}

@media(max-width: 768px) {
	header {
		/*justify-content:  justify;*/
		/*text-align: center;*/
		flex-direction: column;
	}
	.logo {
		margin: 20px auto;

	}
	nav ul li a{
		padding: 0;
		display: block;
	}
	nav ul li a:hover{
		background: #de2b24;
		color: #ffffff;
	}
	nav span{
		display: none;
	}
	nav ul{
		text-align: center;
		flex-direction: column;
	}
	nav ul li {
		border-top: 1px solid #cecece;
	}
	nav ul li a{
		padding: 15px 0;
		margin: 0 0px;
		/*border: 1px solid black;*/
	}
	nav ul li.consult_button a {
		margin: 15px 10px;
	}


	.consultation {
		transform: scale(0.7);
	}

	.step .pagenumber {
		display: none;
	}

	.steptext h3 {
		font-size: 	14px; 
	}

	.steptext p {
		font-size: 10px;
		margin-bottom: 0;
	}

	.footer form .email{
		width: 85%;
	}
}


@media(max-width: 600px) {
	.top_info i:last-child {
		margin-right: 0px;

	}
	.top_info {
		text-align: center;
		/*transform: scale(0.9);*/
		border-bottom: 1px solid transparent;
	}
	.top_info a {
		margin: 15px 8px;
	}
	.banner {
		min-height: 350px;
	}
	.banner h2 {
		padding-top: 100px;
		font-size: 40px;
	}
	.banner p {
		font-size: 22px;
	}
	nav ul span li a{
		display: none;
	}
	.step .steptext {
		padding: 15px;
	}
	.step img{
		width: 180px;
	}
	.work{
		margin: 10px auto;
		flex-direction: column;	 
	}
}

@font-face {
	font-family: 'Open Sans';
}

@font-face {
	font-family: "HelveticaRegular"; 

	src: url(../fonts/HelveticaRegular/HelveticaRegular.eot);
	src:url(../fonts/HelveticaRegular/HelveticaRegular.eot?iefix) format("embedded-opentype"),
	url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
	url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "HelveticaBold"; 
	src: url(../fonts/HelveticaBold/HelveticaBold.eot);
	src:url(../fonts/HelveticaBold/HelveticaBold.eot?iefix) format("embedded-opentype"),
	url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
	url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");  
	font-style: normal; 
	font-weight: bold; 
} 

@font-face {
	font-family: "HelveticaLight"; 

	src: url(../fonts/HelveticaLight/HelveticaLight.eot);
	src:url(../fonts/HelveticaLight/HelveticaLight.eot?iefix) format("embedded-opentype"),
	url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
	url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");  
	font-style: normal; 
	font-weight: light; 
} 


