.nav-menu_btn {
  z-index: 9999;
  position: fixed;
  top: 55px;
  right: 30px;
  cursor: pointer;
  display: none;
  transition: .5s; }
  @media (max-width: 768px) {
    .nav-menu_btn {
      display: block; } }
  @media (max-width: 480px) {
    .nav-menu_btn {
      transform: scale(0.7); } }
  .nav-menu_btn.change {
    top: 20px; }

.change .nav-menu_btn {
  top: 30px; }

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 8px;
  margin: 6px 0;
  background: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-11px, 15px);
  -ms-transform: rotate(-45deg) translate(-11px, 15x);
  transform: rotate(-45deg) translate(-11px, 15px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  -ms-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px); }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: center; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 40px; }
  @media (max-width: 1025px) {
    .container {
      width: 90%; } }
  .container h1 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin: 80px auto; }
    @media (max-width: 480px) {
      .container h1 {
        font-size: 30px; } }
  .container h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 110px; }
  .container h3 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin: 15px auto; }
  .container h4 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase; }
  .container p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; }
  .container .section_info {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 60px; }
  .container .line {
    margin: 20px auto;
    display: block;
    width: 85px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.27); }

.author {
  background-color: #344b8e; }
  .author a p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    display: inline-block;
    padding: 25px 0 25px;
    margin: 0 auto; }

header {
  background-color: #87509c;
  color: #fff;
  min-height: 600px; }
  header .container .header_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    header .container .header_row .main_logo {
      width: 120px;
      height: 40px;
      margin: 55px 40px; }
    header .container .header_row nav {
      margin: 65px 40px 0;
      z-index: 1; }
      @media (max-width: 768px) {
        header .container .header_row nav {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-top: 50px;
          position: fixed;
          top: -100%;
          background: #87509c;
          margin: 0;
          height: 100%;
          transition: 0.5s;
          right: 0px; } }
      header .container .header_row nav.open {
        top: 0px; }
      header .container .header_row nav a {
        width: 74px;
        height: 30px;
        color: white;
        display: inline-block;
        border: 1px tranparent white;
        border-radius: 3px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 5px;
        margin: 0 5px;
        font-size: 16px; }
        header .container .header_row nav a:hover {
          background-color: rgba(0, 0, 0, 0.27); }
        @media (max-width: 768px) {
          header .container .header_row nav a {
            width: 100%;
            padding: 0 10px;
            margin: 20px auto;
            height: 70px;
            font-size: 60px; } }
  header .container .big_btn {
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: 300px;
    height: 72px;
    border-radius: 8px;
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 26px;
    box-shadow: 0 6px #c86a40;
    background-color: #eb7d4b; }
    header .container .big_btn:hover {
      background-color: #ed8a5d; }
    header .container .big_btn:active {
      transform: translateY(3px);
      box-shadow: 0 3px #c86a40; }

.services {
  background-color: #17c2a4;
  min-height: 750px;
  color: white; }
  .services .container .services_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .services .container .services_block .service_item {
      width: 260px;
      height: 340px; }
      .services .container .services_block .service_item .service-img_block {
        width: 260px;
        height: 160px;
        margin-bottom: 20px;
        transition: 1s; }
      .services .container .services_block .service_item p {
        width: 200px;
        margin: 20px auto; }
      .services .container .services_block .service_item:hover .service-img_block {
        transform: scale(1.1); }

@media (max-width: 1025px) {
  .services .container .services_block {
    justify-content: center; } }
.team {
  background-color: #e7f1f8;
  min-height: 915px;
  color: #3c4761; }
  .team .container .team_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 1025px) {
      .team .container .team_block {
        justify-content: center; } }
    .team .container .team_block .team_item {
      height: 540px;
      width: 260px; }
      .team .container .team_block .team_item .team-img_block {
        border: 3px solid rgba(0, 0, 0, 0.08);
        width: 200px;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        margin: 15px auto 20px;
        transition: 1s;
        overflow: hidden; }
        .team .container .team_block .team_item .team-img_block img {
          width: 200px;
          height: 200px; }
      .team .container .team_block .team_item h3 {
        margin: 35px auto 5px; }
      .team .container .team_block .team_item .team_item-info {
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        color: #30bae7;
        margin: 0 auto; }
      .team .container .team_block .team_item p {
        width: 200px;
        margin: 20px auto 30px; }
      .team .container .team_block .team_item:hover .team-img_block {
        transform: scale(1.05); }
      .team .container .team_block .team_item .team_item-share_row {
        margin: 0 auto; }
        .team .container .team_block .team_item .team_item-share_row a {
          margin: 0 3px; }
          .team .container .team_block .team_item .team_item-share_row a img {
            border: 2px solid transparent;
            border-radius: 50%; }
            .team .container .team_block .team_item .team_item-share_row a img:hover {
              border: 2px solid rgba(0, 0, 0, 0.08); }

.skills {
  min-height: 660px;
  color: #3c4761; }
  .skills .container .section_info {
    margin-bottom: 50px; }
  .skills .container .skills_block {
    margin: 0 auto;
    min-height: 250px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .skills .container .skills_block {
        justify-content: center; } }
    .skills .container .skills_block .skill_item {
      height: 160px;
      width: 160px;
      margin: 15px;
      position: relative;
      height: 200px; }
      @media (max-width: 768px) {
        .skills .container .skills_block .skill_item {
          margin: 30px; } }
      .skills .container .skills_block .skill_item span {
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-size: 50px; }
      .skills .container .skills_block .skill_item .label {
        border-radius: 50%;
        text-align: center;
        color: #3c4761;
        display: block;
        top: 50px;
        left: 50px;
        position: absolute;
        text-align: center; }
        .skills .container .skills_block .skill_item .label .smaller {
          font-size: 32px; }
      .skills .container .skills_block .skill_item .skill_bar {
        height: 160px;
        width: 160px;
        clip: rect(0, 160px, 160px, 80px);
        left: 0;
        position: absolute;
        top: 0; }
        .skills .container .skills_block .skill_item .skill_bar .half-circle {
          height: 100%;
          width: 100%;
          border: 12px solid #30bae7;
          border-radius: 50%;
          clip: rect(0, 80px, 160px, 0);
          left: 0;
          position: absolute;
          top: 0; }
      .skills .container .skills_block .skill_item .shadow {
        height: 160px;
        width: 160px;
        border: 12px solid rgba(0, 0, 0, 0.08);
        border-radius: 50%; }
      .skills .container .skills_block .skill_item.progress-90 .skill_bar {
        clip: rect(auto, auto, auto, auto); }
        .skills .container .skills_block .skill_item.progress-90 .skill_bar .half-circle {
          border-color: #30bae7; }
        .skills .container .skills_block .skill_item.progress-90 .skill_bar .left-side {
          transform: rotate(324deg); }
        .skills .container .skills_block .skill_item.progress-90 .skill_bar .right-side {
          transform: rotate(180deg); }
      .skills .container .skills_block .skill_item.progress-75 .skill_bar {
        clip: rect(auto, auto, auto, auto); }
        .skills .container .skills_block .skill_item.progress-75 .skill_bar .half-circle {
          border-color: #d74680; }
        .skills .container .skills_block .skill_item.progress-75 .skill_bar .left-side {
          transform: rotate(270deg); }
        .skills .container .skills_block .skill_item.progress-75 .skill_bar .right-side {
          transform: rotate(180deg); }
      .skills .container .skills_block .skill_item.progress-70 .skill_bar {
        clip: rect(auto, auto, auto, auto); }
        .skills .container .skills_block .skill_item.progress-70 .skill_bar .half-circle {
          border-color: #17c2a4; }
        .skills .container .skills_block .skill_item.progress-70 .skill_bar .left-side {
          transform: rotate(252deg); }
        .skills .container .skills_block .skill_item.progress-70 .skill_bar .right-side {
          transform: rotate(180deg); }
      .skills .container .skills_block .skill_item.progress-85 .skill_bar {
        clip: rect(auto, auto, auto, auto); }
        .skills .container .skills_block .skill_item.progress-85 .skill_bar .half-circle {
          border-color: #eb7d4b; }
        .skills .container .skills_block .skill_item.progress-85 .skill_bar .left-side {
          transform: rotate(306deg); }
        .skills .container .skills_block .skill_item.progress-85 .skill_bar .right-side {
          transform: rotate(180deg); }

.portfolio {
  background-color: #ffdd99;
  color: #393939;
  min-height: 1425px; }
  .portfolio .container .section_info {
    margin-bottom: 30px; }
  .portfolio .container .portfolio-btn_row {
    margin: 30px auto; }
    @media (max-width: 480px) {
      .portfolio .container .portfolio-btn_row {
        width: 300px; } }
    .portfolio .container .portfolio-btn_row a {
      color: #3c4761;
      width: 85px;
      height: 38px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 8px;
      margin: 0 5px;
      font-size: 18px; }
      .portfolio .container .portfolio-btn_row a:hover {
        background-color: rgba(0, 0, 0, 0.27); }
      .portfolio .container .portfolio-btn_row a.active_btn {
        background-color: white; }
        .portfolio .container .portfolio-btn_row a.active_btn:hover {
          background-color: #e6e6e6; }
      @media (max-width: 480px) {
        .portfolio .container .portfolio-btn_row a {
          margin: 10px; } }
  .portfolio .container .portfolio_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .portfolio .container .portfolio_block .portfolio_item {
      margin: 30px auto; }
      .portfolio .container .portfolio_block .portfolio_item h4 {
        margin-top: 30px; }
      .portfolio .container .portfolio_block .portfolio_item img {
        width: 100%;
        transition: 5s; }
      .portfolio .container .portfolio_block .portfolio_item:hover img {
        transform: scale(1.05); }
  .portfolio .container .big_btn {
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: 300px;
    height: 72px;
    border-radius: 8px;
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 26px;
    box-shadow: 0 6px #14a58c;
    background-color: #17c2a4;
    margin-top: 40px; }
    .portfolio .container .big_btn:hover {
      background-color: #19d4b3; }
    .portfolio .container .big_btn:active {
      transform: translateY(3px);
      box-shadow: 0 3px #14a58c; }

.feedback {
  background-color: #d74680;
  min-height: 900px;
  color: white; }
  @media (max-width: 480px) {
    .feedback .container .section_info {
      margin-bottom: 30px; } }
  .feedback .container .feedback_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 1025px) {
      .feedback .container .feedback_block {
        justify-content: center; } }
    .feedback .container .feedback_block .feedback_item {
      display: flex;
      justify-content: space-between;
      height: 180px;
      width: 540px;
      margin-bottom: 140px; }
      @media (max-width: 1025px) {
        .feedback .container .feedback_block .feedback_item {
          margin-bottom: 30px; } }
      @media (max-width: 480px) {
        .feedback .container .feedback_block .feedback_item {
          transform: scale(0.8);
          margin-bottom: 15px; } }
      .feedback .container .feedback_block .feedback_item .feedback_img {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.27);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        transition: 1s;
        overflow: hidden; }
        @media (max-width: 480px) {
          .feedback .container .feedback_block .feedback_item .feedback_img {
            display: none; } }
        .feedback .container .feedback_block .feedback_item .feedback_img img {
          width: 100px;
          height: 100px; }
      .feedback .container .feedback_block .feedback_item:hover .feedback_img {
        transform: scale(1.05); }
      .feedback .container .feedback_block .feedback_item .feedback-item_text {
        width: 390px;
        display: flex;
        flex-direction: column; }
        .feedback .container .feedback_block .feedback_item .feedback-item_text q,
        .feedback .container .feedback_block .feedback_item .feedback-item_text p,
        .feedback .container .feedback_block .feedback_item .feedback-item_text h3 {
          text-align: left; }
        .feedback .container .feedback_block .feedback_item .feedback-item_text h3 {
          margin: 15px 0 0; }
        .feedback .container .feedback_block .feedback_item .feedback-item_text q {
          font-family: "Titillium Web", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 21px;
          line-height: 32px; }
        .feedback .container .feedback_block .feedback_item .feedback-item_text .quote-item_info {
          font-family: "Titillium Web", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          margin: 0;
          color: #ffdd99; }

.message {
  background-color: #3c5499;
  min-height: 820px;
  color: white; }
  .message .container .section_info {
    margin: 0 auto 50px; }
    .message .container .section_info a {
      color: white; }
    @media (max-width: 480px) {
      .message .container .section_info {
        max-width: 30ch; } }
  .message .container form {
    max-width: 865px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .message .container form input[type="text"], .message .container form input[type="email"] {
      margin: 15px 0;
      width: 415px;
      height: 56px;
      border: none;
      border-radius: 3px;
      background: #273a71;
      padding: 0 25px;
      color: white;
      text-align: left; }
      .message .container form input[type="text"]::-webkit-input-placeholder, .message .container form input[type="email"]::-webkit-input-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form input[type="text"]:-moz-placeholder, .message .container form input[type="email"]:-moz-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form input[type="text"]::-moz-placeholder, .message .container form input[type="email"]::-moz-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form input[type="text"]:-ms-input-placeholder, .message .container form input[type="email"]:-ms-input-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      @media (max-width: 768px) {
        .message .container form input[type="text"], .message .container form input[type="email"] {
          width: 100%; } }
    .message .container form input[type="submit"] {
      color: #fff;
      text-transform: uppercase;
      display: block;
      width: 300px;
      height: 72px;
      border-radius: 8px;
      margin: 0 auto;
      font-family: "Titillium Web", sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding-top: 26px;
      box-shadow: 0 6px #299ec5;
      background-color: #30bae7;
      padding-top: 0;
      border: none;
      margin-top: 45px;
      height: 70px; }
      .message .container form input[type="submit"]:hover {
        background-color: #42c0e9; }
      .message .container form input[type="submit"]:active {
        transform: translateY(3px);
        box-shadow: 0 3px #299ec5; }
    .message .container form textarea {
      margin: 15px 0;
      width: 100%;
      min-height: 200px;
      background: #273a71;
      padding: 15px 25px;
      border: none;
      border-radius: 3px;
      color: white;
      text-align: left; }
      .message .container form textarea::-webkit-input-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form textarea:-moz-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form textarea::-moz-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .message .container form textarea:-ms-input-placeholder {
        color: white;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 18px; }

footer {
  min-height: 110px;
  background-color: #344b8e; }
  footer .row {
    padding: 50px; }
    footer .row a {
      display: inline-block;
      color: white;
      margin: 0 25px;
      font-family: "Titillium Web", sans-serif;
      font-weight: 600;
      font-size: 24px; }
      @media (max-width: 1025px) {
        footer .row a {
          height: 32px;
          margin: 15px 25px; } }

/*# sourceMappingURL=style.css.map */
