@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.ttf");
}
@font-face {
  font-family: "HelveticaBold";
  src: url(../fonts/HelveticaBold/HelveticaBold.ttf);
}
@font-face {
  font-family: "HelveticaLight";
  src: url(../fonts/HelveticaLight/HelveticaLight.ttf);
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  color: #ffffff;
  background: #578491;
}

*::selection {
  color: #ffffff;
  background: #578491;
}

.line {
  margin: 20px auto 35px;
  height: 2px;
  width: 110px;
  background-color: rgba(233, 233, 233, 0.6);
}

a {
  text-decoration: none;
}

p {
  font-family: HelveticeRegular;
}

body {
  font-family: HelveticaNeue;
}

.welcome {
  min-height: 590px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/Header.jpg") center top/cover no-repeat;
}
.welcome .w-logo {
  margin: 160px auto 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.welcome .w-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.welcome .w-block {
  width: 720px;
  height: 100px;
  border: 5px solid #ffffff;
  margin: 55px auto 0;
  background: rgba(0, 0, 0, 0.4);
}
.welcome .w-block h2, .welcome .w-block p {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
}
.welcome .w-block h2 {
  font-size: 34px;
  margin: 20px auto 10px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 35px;
}
.welcome .w-block p {
  line-height: 20px;
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  padding-bottom: 10px;
}
.welcome .arrows {
  margin: 75px auto 45px;
}

header {
  min-height: 735px;
  margin: 0 auto;
  text-align: center;
}
header .menu {
  min-height: 60px;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .menu .logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #578491;
  font-size: 30px;
  margin: 20px auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .menu .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .menu nav {
  padding-top: 27px;
}
header .menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu nav ul li {
  margin: 0 20px;
}
header .menu nav ul li a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
  color: #484848;
  line-height: 20px;
}
header .menu nav ul li a:hover {
  color: #578491;
}
header .menu .socials {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  margin: 0 auto;
}
header .menu .socials a {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 0 14px;
  font-size: 14px;
  line-height: 18px;
  color: #dfdfdf;
}
header .menu .socials a:hover {
  color: #578491;
}
header .head-text {
  margin: 60px auto 0;
}
header .head-text h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #979797;
  margin: 0 auto;
}
header .head-text h1 span {
  color: #578491;
}
header .head-text h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 30px;
  margin: 10px auto 0;
  line-height: 30px;
  color: #979797;
}
header .head-text p {
  font-family: "Open Sans", sans-serif;
  font-style: 17px;
  line-height: 25px;
  margin: 0 auto;
  color: #979797;
}
header .head-text .img {
  height: 382px;
  width: 950px;
  margin: 30px auto 0;
  background: url("../img/Head.jpg") center top/cover no-repeat;
  overflow: hidden;
}

.about {
  text-align: center;
  margin: 0 auto;
  min-height: 100%;
  background: url("../img/background1.png") center top/cover no-repeat;
}
.about .about-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0 70px;
}
.about .about-block .about-item {
  width: 240px;
  height: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px auto 10px;
  box-sizing: border-box;
}
.about .about-block .about-item .about-icon {
  border: 6px solid #ffffff;
  width: 95px;
  height: 95px;
  margin: auto;
  border-radius: 50%;
}
.about .about-block .about-item .about-icon i {
  color: #ffffff;
  font-size: 50px;
  padding-top: 25px;
}
.about .about-block .about-item h3, .about .about-block .about-item .numbers .numbers-block .numbers-item .numbers-info p, .numbers .numbers-block .numbers-item .numbers-info .about .about-block .about-item p {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  margin: 15px auto;
}
.about .about-block .about-item p {
  font-size: 12px;
  color: #ffffff;
  margin: 0 auto;
  line-height: 15px;
  font-family: HelveticeRegular;
}
.about .about-block .about-item .learn-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-style: 14px;
  margin: 10px auto 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about .about-block .about-item .learn-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.numbers {
  margin: 0 auto;
  background: url("../img/numbers.jpg") center top/cover no-repeat;
}
.numbers .numbers-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.numbers .numbers-block .numbers-item {
  max-width: 210px;
  max-height: 70px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.numbers .numbers-block .numbers-item .numbers-icon {
  float: left;
  font-size: 60px;
  color: #ffffff;
  margin: 0;
  line-height: 60px;
}
.numbers .numbers-block .numbers-item .numbers-info {
  margin: 0 0 0 15px;
}
.numbers .numbers-block .numbers-item .numbers-info h3, .numbers .numbers-block .numbers-item .numbers-info p {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  line-height: 50px;
  text-align: left;
  font-family: HelveticeBold;
}
.numbers .numbers-block .numbers-item .numbers-info p {
  font-size: 18px;
  line-height: 20px;
  font-family: HelveticeRegular;
}

.clients {
  text-align: center;
  margin: 0 auto;
  min-height: 350px;
  background: url("../img/background1.png") center top/cover no-repeat;
}
.clients h2 {
  margin: 0 auto;
  padding: 75px 0 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.clients p {
  font-family: 22px;
  color: #ffffff;
  margin: 0;
}
.clients .line {
  background: #ffffff;
  height: 1px;
  margin: 10px auto 0;
}
.clients .clients-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients .clients-block .client {
  width: 250px;
  height: 62px;
  margin: 45px auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  text-align: center;
}
.services h2 {
  margin: 0 auto;
  padding: 75px 0 10px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 800;
  color: #484848;
}
.services p {
  font-size: 22px;
  color: #979797;
  margin: 0;
}
.services .services-block {
  margin: 50px auto 0;
  padding: 15px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.services .services-block .service {
  width: 280px;
  height: 150px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .services-block .service img {
  width: 62px;
  height: 64px;
}
.services .services-block .service .serv-text {
  width: 200px;
}
.services .services-block .service .serv-text h3, .services .services-block .service .serv-text .numbers .numbers-block .numbers-item .numbers-info p, .numbers .numbers-block .numbers-item .numbers-info .services .services-block .service .serv-text p {
  text-align: left;
  font-family: HelveticeLight;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #616161;
}
.services .services-block .service .serv-text .line {
  margin: 15px 0;
}
.services .services-block .service .serv-text p {
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  font-family: HelveticeLight;
  font-weight: 200;
  margin: 20px 0 0;
}
.services .services-block .service:hover h3, .services .services-block .service:hover .numbers .numbers-block .numbers-item .numbers-info p, .numbers .numbers-block .numbers-item .numbers-info .services .services-block .service:hover p {
  color: #39a38f;
}

.quote {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: url("../img/background1.png") center top/cover no-repeat;
}
.quote .quote-block {
  max-width: 730px;
  margin: 0 auto;
  padding: 70px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.quote .quote-block p {
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
  font-family: HelveticeLight;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}
.quote .quote-block p b {
  font-family: HelveticaNeue;
  font-weight: 800;
}
.quote .quote-block .quote-text::before {
  content: url(../img/quote.png);
  position: absolute;
  width: 65px;
  height: 45px;
  top: -20px;
  left: -60px;
}
.quote .quote-block .quote-text::after {
  content: url(../img/quote.png);
  position: absolute;
  width: 65px;
  height: 45px;
  top: 80px;
  right: -30px;
}
.quote .quote-block .line {
  background: #ffffff;
}
.quote .quote-block p {
  font-size: 18px;
  color: #ffffff;
}

.team {
  text-align: center;
}
.team h2 {
  margin: 0;
  padding: 75px 0 10px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 800;
  color: #484848;
}
.team p {
  font-size: 22px;
  color: #979797;
  margin: 0;
  font-family: HelveticeLight;
}
.team .triangle {
  margin: 0 auto;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 0 34px 34px 34px;
  border-color: transparent transparent #f0f0f0;
  border-style: solid;
  position: relative;
  top: 1px;
}
.team .team-block {
  height: 373px;
  background: #f0f0f0;
  padding-top: 57px;
}
.team .team-block .swiper-container {
  max-width: 1060px;
  height: 350px;
  margin: 0 auto;
  padding: 0 35px;
}
.team .team-block .swiper-container .swiper-wrapper {
  text-align: center;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide img {
  position: relative;
  top: 2px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  height: 74px;
  border-bottom: 3px solid #39a38f;
  top: 1px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-text {
  text-align: left;
  padding: 15px 20px 0;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-text h3, .team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-text .numbers .numbers-block .numbers-item .numbers-info p, .numbers .numbers-block .numbers-item .numbers-info .team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-text p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  list-style: 18px;
  font-weight: 400;
  color: black;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-text p {
  font-family: HelveticeLight;
  font-size: 14px;
  padding-top: 8px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-socials {
  padding: 20px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-socials a {
  padding: 0 8px;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-socials a i {
  color: #f0f0f0;
}
.team .team-block .swiper-container .swiper-wrapper .swiper-slide .team-slide .slide-info .slide-socials a i:hover {
  color: #578491;
}
.team .team-block .swiper-container .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}
.team .team-block .swiper-container .swiper-pagination-bullet-active {
  background: #39a38f;
}
.team .team-block .swiper-container .swiper-button-prev {
  background-image: url(../img/ArrowPrev.png);
}
.team .team-block .swiper-container .swiper-button-next {
  background-image: url(../img/ArrowNext.png);
}

/*# sourceMappingURL=style.css.map */