body.darkmode {
  color: #ffffff;
  background: #2a2b2e;
}
body.darkmode ::-moz-selection {
  background: #ff4136;
  color: #2a2b2e;
}
body.darkmode ::selection {
  background: #ff4136;
  color: #2a2b2e;
}
body.darkmode .darkmode_button {
  background: #484848;
  border: 2px solid #202020;
  background-image: url("/assets/img/stars.svg");
  background-size: 1rem;
  background-position-x: 2px;
  background-repeat: repeat-y;
}
body.darkmode .darkmode_button.active::before {
  border: 0.1rem solid #DEE1C5;
  background-image: url("/assets/img/moon.svg");
}
body.darkmode .automode_button {
  border: 2px solid #202020;
}
body.darkmode .button_container,
body.darkmode .button_container::after {
  background: #0074D9;
}

.button_container {
  height: 4rem;
  width: 60px;
  padding: 0 2px;
  position: absolute;
  top: -40px;
  right: -10%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  display: flex;
  background: #7FDBFF;
  transition: 0.3s;
}

.button_container.active {
  top: 0px;
}

.button_container::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  top: 67%;
  left: 0;
  background: #7FDBFF;
  border-radius: 100% 100%;
  z-index: -1;
  transition: 0.3s;
}

.darkmode_button {
  position: relative;
  cursor: pointer;
  height: 1.6rem;
  width: 100%;
  border-radius: 500px;
  appearance: none;
  background: #C0E6F6;
  border: 2px solid #81C0D5;
  background-position-x: 2px;
  transition: 1s;
}

.darkmode_button::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #F5EB42;
  border: 0.1rem solid #E4C74D;
  border-radius: 50%;
  transform: translateY(-50%);
}

.darkmode_button.active::before {
  left: auto;
  right: 4px;
}

.darkmode_button::after {
  content: "";
  position: absolute;
  background-image: url("/assets/img/cloud.svg");
  background-size: 0.9rem 0.9rem;
  left: 1rem;
  top: 50%;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  transform: translateY(-50%);
}

.darkmode_button.active::after {
  background-image: none;
}

.automode_button {
  position: relative;
  cursor: pointer;
  height: 1.6rem;
  width: 100%;
  border-radius: 500px;
  appearance: none;
  color: black;
  background: #be322a;
  border: 2px solid #81C0D5;
  background-image: url("/assets/img/auto.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}

.automode_button.active {
  background: #2ECC40;
  background-image: url("/assets/img/auto.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}

.arrow {
  position: absolute;
  color: white;
  font-size: 20px;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  top: 4.1rem;
  background: none;
  left: 27%;
  border: none;
  appearance: none;
  z-index: 15;
}

.gradient-border {
  --borderWidth: 10px;
  background: #1D1F20;
  position: relative;
  border-radius: 50%;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  z-index: -1;
  animation: animated_gradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animated_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.author a p {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% 200%;
  animation: animated_gradient 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

a:hover p {
  color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  color: #2a2b2e;
  position: relative;
  background-color: #F3F3F3;
  transition: 0.5s;
}
body ::-moz-selection {
  background: #ff4136;
  color: #2a2b2e;
}
body ::selection {
  background: #ff4136;
  color: #2a2b2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 0;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 2rem;
}

.tagline {
  font-size: 1.6rem;
  line-height: 1.3rem;
}

p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

a {
  color: #0074d9;
  line-height: 1.3rem;
  cursor: pointer;
}
a:hover {
  color: #ff4136;
}

.portfolio_block a {
  text-decoration: none;
}

.contact_block a {
  margin-right: 1.5rem;
}

.profile-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 2rem;
}

.profile_img__container {
  margin-left: 5%;
  position: relative;
  height: 7.5rem;
}

#profile_image {
  height: 100%;
  border-radius: 50%;
}

.author {
  margin: 1rem;
  text-align: center;
  font-weight: normal;
}
.author a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
