* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgba(100, 204, 151, .37);
    display: flex;
    font-family: Arial;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.game {
    margin: auto;
}

.field {
    width: 5em;
    height: 5em;
    border: 1px solid;
    position: relative;
    cursor: pointer;
}

.game_area {
    width: calc(15em + 30px);
    display: flex;
    flex-flow: wrap;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.game_btn {
    width: 15em;
    height: 50px;
    line-height: 50px;
    background-color: #668ecaba;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.game_title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #6b75a7;
    background-color: #f0d8f0;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
}

.field:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    text-align: center;
    pointer-events: none;
    cursor: not-allowed;
}

.field.cross:after {
    content: 'x';
    color: #c32f2f;
}

.field.toes:after {
    content: 'o';
    color: #44bcd0;
}

.field.win:before {
    content: '';
    top: 50%;
    height: 0px;
    display: block;
    position: absolute;
    border: 2px solid #191970;
    z-index: 1;
}

.field.win.horizontal:before {
    left: -5%;
    width: 110%;
}

.field.win.vertical:before {
    left: -5%;
    width: 110%;
    transform: rotate(90deg);
}

.diagonal-right:before {
    left: -25%;
    width: 150%;
    transform: rotate(45deg);
}

.diagonal-left:before {
    left: -25%;
    width: 150%;
    transform: rotate(-45deg);
}