 * {
 	margin: 0;
 }

 a {
 	text-decoration: none;
 }

 *::-moz-selection {
 	color: #fff;
 	background: #c90;
 }

 *::selection {
 	color: #fff;
 	background: #c90;
 }

 .back_to_main{
 	left: 10px;
 }

 h2 {
 	font-size: 36px;
 	font-family: 'Yeseva One', cursive;
 	font-size: 36px;
 	color: #c90;
 	font-weight: normal;
 	margin: 0;
 }

 header {

 	height: 750px;
 	margin: 0 auto;
 	background: url(../img/fon-header.jpg) center top/cover no-repeat;
 	text-align: center;
 }

 .head-menu {
 	margin: 0 auto;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-pack: distribute;
 	justify-content: space-around;
 }

 .logo {
 	margin-top: 10px;
 }

 span.button_menu {
 	z-index: 9999;
 	position: fixed;
 	top: 24px;
 	right: 30px;
 	cursor: pointer;
 	display: none;
 }

 .bar1,
 .bar2,
 .bar3 {
 	width: 35px;
 	height: 4px;
 	margin: 4px 0;
 	background: #c90;
 	-webkit-transition: 0.4s;
 	-o-transition: 0.4s;
 	transition: 0.4s;
 }

 .change .bar1 {
 	-webkit-transform: rotate(-45deg) translate(-4px, 6px);
 	-ms-transform: rotate(-45deg) translate(-4px, 6px);
 	transform: rotate(-45deg) translate(-4px, 6px);
 }

 .change .bar2 {
 	opacity: 0;
 }

 .change .bar3 {
 	-webkit-transform: rotate(45deg) translate(-5px, -8px);
 	-ms-transform: rotate(45deg) translate(-5px, -8px);
 	transform: rotate(45deg) translate(-5px, -8px);
 }

 nav ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 }

 nav li {
 	margin: 0 10px;
 }

 nav a {
 	display: block;
 	padding: 45px 10px 0;
 	color: #fff;
 	font-family: 'Gentium Book Basic', serif;
 	font-size: 21px;
 	font-weight: bold;
 	border-top: 3px solid transparent;
 }

 nav a:hover {
 	border-top: 3px solid #fff;
 }

 .socials_mobile {
 	display: none;
 }

 .socials_mobile a {
 	height: 50px;
 	padding-top: 20px;
 	border-bottom: 1px solid #fff;
 	color: #fff;
 	width: 33.3%;
 }

 .socials {
 	margin-top: 50px;
 }

 .socials a {
 	font-size: 20px;
 	color: #c90;
 	margin: 0 10px;
 	-webkit-transition: 0.5s;
 	-o-transition: 0.5s;
 	transition: 0.5s;
 }

 .socials a:hover {
 	-webkit-transform: scale(1.4);
 	-ms-transform: scale(1.4);
 	transform: scale(1.4);
 }

 .socials a:nth-child(1):hover {
 	color: #00aced;
 }

 .socials a:nth-child(2):hover {
 	color: #bb0000;
 }

 .socials a:nth-child(3):hover {
 	color: #3b5998;
 }

 header h1 {
 	font-family: 'Yeseva One', cursive;
 	font-size: 90px;
 	line-height: 120px;
 	color: #fff;

 	margin: 120px auto 0;
 	font-weight: normal;
 }

 .devider {
 	height: 45px;
 	width: 240px;
 	margin: 25px auto;
 	background: url(../img/uzor.png);
 }

 .black_button,
 .white_button {
 	display: inline-block;
 	width: 225px;
 	height: 57px;
 	text-transform: uppercase;
 	color: #fff;
 	font-family: 'Lato', sans-serif;

 	font-size: 18px;
 	line-height: 57px;
 	-webkit-transition: .5s;
 	-o-transition: .5s;
 	transition: .5s;
 	margin: 10px;
 }

 .black_button {
 	border: 1px solid #000;
 	background: rgba(0, 0, 0, .6);
 }

 .white_button {
 	border: 1px solid #fff;
 	background: rgba(225, 225, 225, .3);
 }

 .black_button:hover,
 .white_button:hover {
 	-webkit-transform: scale(1.1);
 	-ms-transform: scale(1.1);
 	transform: scale(1.1);
 }

 .about {
 	height: 710px;
 	margin: 0 auto;
 	text-align: center;
 	background: url(../img/fon.jpg);
 }

 .cook {
 	display: inline-block;
 	max-width: 440px;
 	margin: 100px 20px 0 0;
 	vertical-align: top;
 }

 .cook h3 {
 	font-family: 'Yeseva One', cursive;
 	font-size: 36px;
 	color: #c90;
 	font-weight: normal;
 	margin: 0;
 }

 .yellow_devider {
 	width: 247px;
 	height: 24px;
 	margin: 25px auto;
 	background: url(../img/yellow-uzor.png);
 }

 .cook p {
 	font-family: 'Lato', sans-serif;
 	font-size: 16px;
 	line-height: 24px;
 	color: #4c4c4c;
 }

 .cook img {
 	margin: 60px 0 0 80px;
 }

 .about > img {
 	margin: 70px 0 0 20px;
 }

 .ingr {
 	height: 758px;
 	margin: 0 auto;
 	background: url(../img/fon-ingred.jpg) center top/cover no-repeat;
 	text-align: center;
 }

 .block_ingr {
 	display: inline-block;
 	margin: 100px auto;
 	background: rgba(0, 0, 0, .6);
 	text-align: center;
 	color: #fff;
 	padding: 85px;
 	width: 570px;
 	height: 555px;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 }

 .block_ingr h2 {
 	color: #fff;
 }

 .white_devider {
 	width: 247px;
 	height: 24px;
 	margin: 25px auto;
 	background: url(../img/white-uzor.png);
 }

 .block_ingr p {
 	font-family: 'Lato', sans-serif;
 	font-size: 16px;
 	line-height: 24px;
 }

 .block_ingr a {
 	display: inline-block;
 	width: 100px;
 	height: 100px;
 	border: 6px solid rgba(225, 225, 225, .4);
 	overflow: hidden;
 	border-radius: 50%;
 	margin: 40px 8px 0;
 	-webkit-transition: 1s;
 	-o-transition: 1s;
 	transition: 1s;
 }

 .block_ingr img {
 	width: 170px;
 }

 .block_ingr a:hover {
 	-webkit-transform: rotateY(1turn);
 	transform: rotateY(1turn);
 }

 .menu {
 	margin: 0 auto;
 	text-align: center;
 	background: url(../img/fon.jpg);
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	-webkit-box-pack: center;
 	-ms-flex-pack: center;
 	justify-content: center;
 	padding: 50px 0;
 }

 .menu_block {
 	width: 440px;
 	margin: 0 40px;
 }

 .menu_block h3 {
 	color: #c90;
 	font-size: 36px;
 	font-weight: normal;
 	font-family: 'Yeseva One', cursive;
 	margin: 50px 0 0;
 }

 .menu_part {
 	margin-bottom: 40px;
 }

 .price {
 	border-bottom: 1px solid #c90;
 	font-family: 'Yeseva One', cursive;
 	color: #c90;
 	font-size: 21px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: justify;
 	-ms-flex-pack: justify;
 	justify-content: space-between;
 	margin: 0;
 	padding-bottom: 7px;
 }

 .info {
 	text-align: left;
 	margin: 0;
 	padding-top: 7px;
 	font-family: 'Lato', sans-serif;
 	color: #4c4c4c;
 }

 .special {
 	border: 1px solid #c90;
 	padding: 10px;
 	position: relative;
 }

 .special:before {
 	content: "Special";
 	display: block;
 	width: 75px;
 	height: 22px;
 	background: #c90;
 	color: #fff;
 	font-size: 14px;
 	font-family: 'Lato', sans-serif;
 	line-height: 22px;
 	position: absolute;
 	right: -1px;
 	top: -22px;
 }

 .reviews {
 	min-height: 758px;
 	margin: 0 auto;
 	text-align: center;
 	background: url(../img/fon-review.jpg) center top/cover no-repeat;
 }

 .review {
 	display: inline-block;
 	width: 770px;
 	min-height: 555px;
 	background: rgba(0, 0, 0, .6);
 	margin: 100px auto;
 	padding: 80px;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 }

 .review h2 {
 	color: #fff;

 }

 .review p {
 	font-family: 'Gentium Book Basic', serif;
 	font-size: 25px;
 	color: #dde0df;
 	line-height: 45px;
 	position: relative;
 	z-index: 10;
 }

 .review p:before {
 	content: "\201C";
 	font-size: 96px;
 	color: rgba(225, 225, 225, .5);
 	font-family: Georgia;
 	position: absolute;
 	top: 15px;
 	left: -50px;
 }

 .city {
 	font-size: 18px;
 	color: #fff;
 	margin-top: 60px;
 }

 .reserv {
 	padding: 100px 0;
 	text-align: center;
 	background: url(../img/fon.jpg);
 	margin: 0 auto;
 }

 .reserv img {
 	margin-right: 30px;
 }

 .reserv_block {
 	display: inline-block;
 	width: 440px;
 	vertical-align: top;
 }

 .reserv_block h3 {
 	color: #c90;
 	font-size: 36px;
 	margin: 0;
 	font-weight: normal;
 	font-family: 'Yeseva One', cursive;
 }

 .reserv_block p {
 	font-family: 'Lato', sans-serif;
 	font-size: 16px;
 	line-height: 24px;
 	color: #4c4c4c;
 }

 .reserv_block .formes {
 	float: left;
 	width: 220px;
 	margin-bottom: 30px;
 	text-align: left;
 }

 .formes label {
 	color: #c90;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 	font-weight: bold;
 }

 .formes input {
 	margin-top: 5px;
 	width: 200px;
 	height: 30px;
 	padding: 0 15px;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	font-style: italic;
 	font-family: 'Open Sans', sans-serif;
 	color: #7c7c7c;
 	font-size: 16px;
 	border: 1px solid #7c7c7c;
 	outline: none;
 }

 .formes input:focus {
 	border: 1px solid #c90;
 }

 ::-webkit-calendar-picker-indicator {
 	color: transparent;
 	background: url(../img/calendar.png) no-repeat center;
 	opacity: 1;
 	background-size: contain;

 }
/* .formes input[placeholder*="date"] {
 	background: url(../img/calendar.png) 175px center no-repeat;
 	}*/

 	.reserv_block input[type="submit"] {
 		width: 200px;
 		height: 36px;
 		background: #c90;
 		color: #fff;
 		font-family: 'Open Sans', sans-serif;
 		border: none;
 		cursor: pointer;
 	}

 	footer {
 		background: #191919;
 		color: #fff;
 		margin: 0 auto;
 		text-align: center;
 		display: -webkit-box;
 		display: -ms-flexbox;
 		display: flex;
 		-ms-flex-wrap: wrap;
 		flex-wrap: wrap;
 	}

 	.aboutfoot {
 		display: inline-block;
 		height: 200px;
 		width: 350px;
 		margin: 50px auto 20px;
 		-webkit-box-sizing: border-box;
 		box-sizing: border-box;
 	}

 	.aboutfoot h3 {
 		font-family: 'Yeseva One', cursive;
 		font-size: 21px;
 		font-weight: normal;
 		padding: 0;
 		margin: 0;
 	}

 	.aboutfoot p {
 		font-family: 'Open Sans', sans-serif;
 		font-weight: normal;
 		font-size: 16px;
 		padding: 0;
 		margin: 0;
 		margin-bottom: 5px;
 	}

 	footer .white_devider {
 		margin: 15px auto;
 	}

 	.hours {
 		display: inline-block;
 		height: 220px;
 		width: 350px;
 		margin: 50px auto 20px;
 		-webkit-box-sizing: border-box;
 		box-sizing: border-box;
 	}

 	.hours h3 {
 		font-family: 'Yeseva One', cursive;
 		font-size: 21px;
 		font-weight: normal;
 		margin: 0;
 		padding: 0;
 	}

 	p {
 		font-family: 'Open Sans', sans-serif;
 		font-weight: normal;
 		font-size: 16px;
 		padding: 0;
 		margin: 0;
 		margin-bottom: 5px;
 	}

 	p .days {
 		font-weight: bold;
 	}

 	.cards {
 		padding-top: 25px;
 	}

 	.cards a {
 		padding: 5px;
 		color: white;
 		font-size: 20px;
 	}

 	.location {
 		display: inline-block;
 		height: 220px;
 		width: 350px;
 		margin: 50px auto 20px;
 		-webkit-box-sizing: border-box;
 		box-sizing: border-box;
 	}

 	.location h3 {
 		font-family: 'Yeseva One', cursive;
 		font-weight: normal;
 		font-size: 21px;
 		padding: 0;
 		margin: 0;
 	}

 	.socialsfoot {
 		padding-top: 25px;
 	}

 	.socialsfoot a {
 		color: #fff;
 		font-size: 21px;
 		padding: 5px;
 	}

 	.author {
 		text-align: center;
 		background-color: #212121;
 	}

 	.author a p {
 		font-weight: 900;
 		display: inline-block;
 		padding: 25px 0 25px;
 		margin: 0 auto;
 		color: #c90;
 	}

 /*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Gentium Book Basic', serif;*/

@media(max-width: 1100px) {
	.about .dish {
		display: none;
	}
	.cook {
		margin: 100px 10px 0;
	}
}

@media(max-width: 1024px) {
	span.button_menu {
		display: block;
	}

	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		position: fixed;
		right: -100%;
		/*top:30px;*/
		background: #191919;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		z-index: 9999;
	}
	nav ul li {
		margin: 0;
	}
	nav ul li a {
		height: 50px;
		padding-top: 20px;
		border-bottom: 1px solid #fff;
		color: #fff;
	}

	.socials {
		display: none;
	}
	.socials_mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.open {
		right: 0px;
	}

	header h1 {
		font-size: 65px;
		line-height: 85px;
	}

	.review {
		width: 90%;
		padding: 40px;
	}

	.reserv_block {
		margin-top: 20px;
	}
	.review p:before {
		font-size: 60px;
		top: 5px;
		left: -10px;
	}
	.aboutfoot {
		margin: 50px auto 0;
	}
	.hours {
		margin: 50px auto 0;
	}
	.location {
		margin: 50px auto 0;
	}
}

@media(max-width: 768px) {
	header {
		height: 600px;
	}
	header .socials {
		display: none;
	}
	header h1 {
		margin-top: 80px;
		font-size: 50px;
	}
	.reserv {
		padding: 50px 0;
	}
	.aboutfoot {
		margin: 30px auto 0;
	}
	.hours {
		margin: 30px auto 0;
	}
	.location {
		margin: 30px auto 0;
	}


}

@media(max-width: 600px) {

	header {
		height: 500px;
	}

	header h1 {
		margin-top: 60px;
		font-size: 40px;
		line-height: 60px;
	}

	.ingr .block_ingr {
		padding: 50px;
		width: 100%;
	}

	.reserv img {
		margin-right: 0;
		width: 49%;
	}
}

@media(max-width: 500px) {
	h2 {
		font-size: 26px;
	}

	header {
		height: 600px;
	}
	header h1 {
		font-size: 35px;
		line-height: 55px;
	}
	.block_ingr a:last-child {
		display: none;
	}
	.review {
		padding: 30px;
	}
	.review p {
		font-size: 16px;
		line-height: 35px;
	}
	.reserv_block {
		width: 95%;
	}
	.reserv_block form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.reserv_block .formes {
		text-align: center;
	}
}